@import '../colours';

.app-component {
    &__content {
        position: relative;
        padding: 25px;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: rgba($light, 0.5);
            z-index: -1;
            top: 0;
            left: 0;
            filter: blur(5px) drop-shadow(0 0 0.75rem black);
            border-radius: 4px;
        }
    }
}