@import "./colours"; //Import before bootstrap to override the colours
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~ionicons/dist/css/ionicons.min.css";

html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}